.prev,
.next {
    transition: 0.4s ease-in;
    font-size: 40px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: aliceblue;
}

.carousel-img {
    transition: display 0.4s ease-in;
    width: 100%;
    height: 700px;
}

.blog-details {
    margin-top: 20px;
}

@media screen and (max-width:1000px) {

    .prev,
    .next {
        font-size: 30px;
        @apply p-3;
    }
}

@media screen and (max-width:600px) {
    .blog-details {
        @apply px-12;
    }

    .blog-description {
        @apply text-base;
    }
    
    .carousel-img {
        height: auto!important;
    }
}

@media screen and (max-height:700px) {
    .carousel-img {
        height: 400px;
    }
}