@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');

.blogs {
    width: 100%;
    height: fit-content;
    flex: 0 0 75%;
}

.blog {
    height: 70vh;
    margin-top: 20px;
    @apply pl-1 pb-10 pt-2 flex cursor-pointer shadow-lg;
}

.blog:hover {
    box-shadow: 3px 3px 5px #c46666;
}

.regular-font {
    font-family: 'Martel Sans', sans-serif;
}

.info {
    flex: 0 0 40%;
}

.sticky-tag {
    box-shadow: 0px 3px 3px black;
    @apply flex justify-end w-3/4 bg-[#FEFF9C] regular-font text-center mt-4;
}

@media screen and (max-width:860px) {
    .blog {
        width: auto;
        height: 65vh;
    }

    .blog-profile {
        @apply h-10;
    }

    .blog-user {
        @apply text-base
    }

    .blog-title {
        @apply text-xl;
    }

    .blog-tags {
        @apply text-sm;
    }

    .blog-desc {
        @apply text-sm;
    }

    .date {
        @apply text-base;
    }
}


@media screen and (max-width:550px) {
    .blog {
        @apply flex-col mt-0 pl-0;
        height: 100vh;
    }

    .blog-img {
        width: 100%;
    }

}