.prev, .next{
    transition: 0.4s ease-in;
    font-size: 40px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: aliceblue;
}

.carousel-img{
    transition: display 0.4s ease-in;
}