.profile-link:hover+.dropdown,
.dropdown:hover {
    opacity: 1;
}

.dropdown {
    border: 2px solid black;
    transition: opacity 0.4s ease-in;
    right: 3.5%;
    opacity: 0;
}


.link::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: rgb(240 191 191);
    transition: 300ms;
}

.link:hover::after {
    width: 100%;
}