.pagination-item{
    padding: 10px;
    background: linear-gradient(to right, rgb(159, 218, 247),rgb(204, 236, 245));
    margin-left: 10px;
    cursor: pointer;
    @apply rounded-md;
    display: flex;
    align-items: center;
}

.active{
    background-color: aliceblue;
    background: none;
    border: 2px solid black;
    box-shadow: 2px 2px 2px;
}