.wrapper {
  height: 125vh;
  top: 197px;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to top, #f0bfbf, color(srgb 0.94 0.75 0.75)100%);
}

.wave {
  height: 1025px;
  top: -25%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 35%;
  background: rgba(255, 255, 255, .75);
  animation: wave 15s infinite linear;
}


@keyframes wave {
  from {
    transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
  }
}

@media screen and (min-height:600px) {
  .wave {
    height: 1635px;
    width: 825px;
  }

}